<div class="card" style="width:50rem">
    <div class="card-body" style="background-color:lightblue">
        <h3 class="card-title">Imaging</h3>

        <p>Of course, sometimes we wish to use our web apps to display images.  Ah, here come the cats I hear you say, after all, 90% of the internet is full of cat pictures. So no,
            I shall include an image of an humming bird hawk moth instead. After all, why be the same as everyone else? Stand out and be different and it may just get you noticed 
            more....
        </p>
        <img src="/hummingbirdhawkmothdm.jpg" />
        <p>Here then is a shooting star because, in case no-one has told you yet, you are a star and if you are reading this you really are looking to learn something new...</p>
        <img src="/shooting star.png" width="200" />
    </div>
</div>

@code {

}
